body {
  background-image: url("https://images7.alphacoders.com/419/thumb-1920-419565.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.KamarasHipHopContainter {
  margin: 70px;
  width: 35.5%;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-style: italicezed; 
}

.dishes {
  margin: 15px 0;
}

.storeName {
  padding: 5px;
  text-align: center;
  font-size: 67px;
  border-bottom: solid hotpink;
}

.DividingContainer {
  display: flex;
}

.section {
  width: 100%;
  padding: 10px;
}
